# entorno virtual
venv/

# variables sensibles
.env

# python
__pycache__/
*.pyc

# Base de datos
*.db

# Ignorar todos los archivos Excel
*.xlsx
*.xls

# VS Code
.vscode/


# Sistema
.DS_Store
Thumbs.db