# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# PyInstaller
build/
dist/
*.spec
!ASIENTO.spec

# Ejecutables
*.exe

# Base de datos local
*.db
*.sqlite
*.sqlite3

# Archivos temporales
*.log
.DS_Store
Thumbs.db